#Environment
models_compressed/
**/__pycache__/
.vscode/
.venv/
#Build
main.build/
main.dist/
server.build/
server.dist/
server.onefile-build/
server.exe

#Config files
maps/saved maps/
latest.log
latest-server.log
output.txt
