#Environment
models_compressed/
**/__pycache__/
.vscode/
.venv/
main.build/
main.dist/
server.build/
server.dist/
server.onefile-build/
server.exe

#Config files
maps/saved maps/
controls.json
output.txt
